<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SimpleNovelSearch</servlet-name>
    <servlet-class>com.zekai.SimpleNovelSearch</servlet-class>
  </servlet>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>com.zekai.work.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchForRank</display-name>
    <servlet-name>searchForRank</servlet-name>
    <servlet-class>com.zekai.work.searchForRank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchForRank</servlet-name>
    <url-pattern>/searchForRank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectBookFromDb</display-name>
    <servlet-name>SelectBookFromDb</servlet-name>
    <servlet-class>com.zekai.work.SelectBookFromDb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectBookFromDb</servlet-name>
    <url-pattern>/SelectBookFromDb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeSouce</display-name>
    <servlet-name>ChangeSouce</servlet-name>
    <servlet-class>com.zekai.work.ChangeSouce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeSouce</servlet-name>
    <url-pattern>/ChangeSouce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBookSouceList</display-name>
    <servlet-name>GetBookSouceList</servlet-name>
    <servlet-class>com.zekai.work.GetBookSouceList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBookSouceList</servlet-name>
    <url-pattern>/GetBookSouceList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchForQidian</display-name>
    <servlet-name>SearchForQidian</servlet-name>
    <servlet-class>com.zekai.work.SearchForQidian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchForQidian</servlet-name>
    <url-pattern>/SearchForQidian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllSearchResult</display-name>
    <servlet-name>GetAllSearchResult</servlet-name>
    <servlet-class>com.zekai.work.GetAllSearchResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllSearchResult</servlet-name>
    <url-pattern>/GetAllSearchResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectFromQiDianForum</display-name>
    <servlet-name>SelectFromQiDianForum</servlet-name>
    <servlet-class>com.zekai.work.SelectFromQiDianForum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectFromQiDianForum</servlet-name>
    <url-pattern>/SelectFromQiDianForum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoreForumData</display-name>
    <servlet-name>MoreForumData</servlet-name>
    <servlet-class>com.zekai.work.MoreForumData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoreForumData</servlet-name>
    <url-pattern>/MoreForumData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumContentData</display-name>
    <servlet-name>ForumContentData</servlet-name>
    <servlet-class>com.zekai.work.ForumContentData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumContentData</servlet-name>
    <url-pattern>/ForumContentData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBookTypeFromQiDian</display-name>
    <servlet-name>GetBookTypeFromQiDian</servlet-name>
    <servlet-class>com.zekai.work.GetBookTypeFromQiDian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBookTypeFromQiDian</servlet-name>
    <url-pattern>/GetBookTypeFromQiDian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBookTypeDetail</display-name>
    <servlet-name>GetBookTypeDetail</servlet-name>
    <servlet-class>com.zekai.work.GetBookTypeDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBookTypeDetail</servlet-name>
    <url-pattern>/GetBookTypeDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBookFromType</display-name>
    <servlet-name>GetBookFromType</servlet-name>
    <servlet-class>com.zekai.work.GetBookFromType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBookFromType</servlet-name>
    <url-pattern>/GetBookFromType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.zekai.work.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>